<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <select  v-model="fruit">
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="橘子">橘子</option>
    <option value="西瓜">西瓜</option>
  </select>
  <h2>你选择的水果是:{{fruit}}</h2>
  <select  v-model="fruits" multiple>
  <option value="苹果">苹果</option>
  <option value="香蕉">香蕉</option>
  <option value="橘子">橘子</option>
  <option value="西瓜">西瓜</option>
</select>
  <h2>你选择的水果是:{{fruits}}</h2>
  <label v-for="item in phone">
    <input type="checkbox" :value="item" v-model="fruits">{{item}}
  </label>
  <h2>你选择的手机是:{{fruits}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
     fruit: '',
     fruits:[],
     phone: ['苹果','小米','vivo','oppo','华为']
    }
  })
</script>
</body>
</html>